.search, .arrow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 8.5rem;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0.88) 50%,rgba(255,255,255,0.8) 67%,rgba(255,255,255,0) 100%);
  display: flex;
  justify-content: flex-end;
  padding-top: 2.25rem;
  font-size: 2.5rem;
  z-index: 2;
  @include for-size(desktop-up) {
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0;
    background: $secondaryColor;
  }
  & i {
    margin-right: 2.25rem;
  }
}

.arrow {
  display: flex;
  justify-content: space-between;
  padding-left: 2.25rem;
}


.header {
    justify-content: space-between;
    background: $white;
    width: 100%;
    height: 8.5rem;
    display: flex;
    align-items: center;
    z-index: 2;
    &-logo {
      height: 6rem;
      width: 14rem;
      margin-left: 4rem;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &-text {
      color: $mainColor;
      font-size: 1.4rem;
      margin-right: 2.25rem;
    }
}

.nav {
  font-size: 1.4rem;
  & a {
    color: $mainColor;
    margin-left: 4rem;
  }
  &-icons {
    align-items: center;
    color: $mainColor;
  }
}
