html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Domine:400,700|Montserrat:400,500,500i,700" rel="stylesheet")
    title semaine intensive yolo
  body
    header.header.desktopFlex
      .header-logo.desktop
        img(src="styles/img/logo.png")
      .header-text.desktop
        p Un mook collector .  Une application  . Un site
    .search.arrow
      div.mobile
      i.fas.fa-search.mobile
      .nav.desktopFlex
        a(href="#") Articles
        a(href="#") Nos classements
        a(href="#") Nos bons plans
      .nav-icons.desktopFlex
        i.fas.fa-search
        i.fas.fa-user
    
    .profileHeader      
      .profileheader-picture
        img(src="styles/img/man-pan-400429-unsplash.jpg")
      .profileHeader-text monsieur / Madame. Connectez vous si vous le voulez 
    
    
    .profileConnect
      input(type= "submit" value="Connection") 
      
    .profileContainer
      div
        a(href="#") - A propos
      div
        a(href="#") - Informations légales
      div
        a(href="#") - Contact
      div
        a(href="#") - Services
        
    
          
          
    footer.footer.mobile
      .footer-home
        a(href="#") Accueil
      .footer-profile
        a(href="#") Profil
  
    script(src="index.js")
